*{
  font-size: 1.125em;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
}

body{  
  background: #0E1323;
  overflow-x: hidden;
}

.principal{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.menu-esquerdo{
  width: 274px;
  height: 500px;
  background: #242454;
  border-radius: 15px;
  margin: 10px 10px;
}

.perfil{
  width: 274px;
  height: 340px;
  background: #5C45E3;
  border-radius: 15px;
  color: white;
  
}

.perfil img{
  width: 60px;
  margin: 25px;
  border: 2px solid white;
  border-radius: 50px ;
}

.perfil .p1{
  font-size: 0.425em;
  margin: 25px;
}
.perfil .p2{
  font-size: 1em;
  font-weight: bold;
  margin: 25px;
}

.menu-links a{
  text-decoration: none;
  font-weight: bold;
  color: #5C45E3;
  display: flex;
  flex-direction: column;
  font-size: 0.725em;
  padding:5px 25px;
  margin-top: 15px;
}

.menu-links a:hover{
  color: white;

}

.conteudo-direita{
  width: 685px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.conteudo-direita-padrao{
  width: 221px;
  height: 244.5px;
  margin-bottom: 11px;
  border-radius: 15px;  
}

.card1{  
  background: #E68968;
}

.card2{  
  background: #78BCB7;
}

.card3{
  background: rgb(209, 121, 136);
}

.card4{
  background: rgb(50, 128, 50);
}

.card5{
  background: #8f45e3;
}

.card6{
  background: rgb(221, 221, 100);
}

.card-informacao{
  width: 221px;
  height: 205px; 
  margin-top: 40px;
  border: none;
  background: #242454;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.card-p1 {
  margin-left: 10px;
  font-size: 0.425em;
  color: white;
}

.card-p2{
  color: white;
  text-align: center;
  font-weight: bold;
}

.card-p3{
  font-size: 0.425em;
  color: white;
  margin-left: 10px;
}


@media screen and (max-width: 990px) {

  .conteudo-direita{
    width: 50%;
  }
  .conteudo-direita-padrao{
    width: 100%;
  }
  .conteudo-direita-padrao div{
    width: 100%;
  }


}

@media screen and (max-width: 669px) {
  
  .menu-esquerdo{
    width: 90%;
    height: 57%;
  }
  .perfil{
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
  }
  .perfil img{
    width: 100px;
    height: 100px;
  }
  .menu-links{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }


  .conteudo-direita{
    width: 90%;
  }


}